
<mat-card>
    <div id="main">
        <button *ngFor="let shape of Shapes" (click)="GetShape(shape.Type)"  [ngStyle]="{'background-color':shape.Type === 'Circle' ? 'lightblue' : shape.Type === 'Rectangle' ? '#FF8C00' :shape.Type === 'Triangle' ? '#7CFC00' : '' }">{{shape.Type}}</button>
      </div>
</mat-card>

<!---------------------------------------------------------------------------------------------------------------------->

  <div id='container' style="width: 200px;margin:auto"></div>



















